.bg-container{
    background-color: lightblue;
    height: 100vh;
    
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: pink;
    width: 20%;
    margin: 5px;
}
h1{
    font-size: 24px;
}
